@charset 'uft-8';

*{
    box-sizing: border-box;
}

a{
    color: #000;
    text-decoration: none;
}

.wrap{
    width: 100%;
    height: 100%;
}

.header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #eee;
}

.main_logo h1 > a > img{
    border: 1px solid #000;
}

.header_inner{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    height: 80px;
    align-items: center;
}

.cud_btn > ul{
    display: flex;
    list-style: none;
}

.cud_btn > ul > li{
    margin-right: 50px;
}

.cud_btn > ul > li > a > input{
    width: 100px;
    height: 60px;
    cursor: pointer;
    border-radius: 5px;
}

.cud_btn_create > a > input{
    background: url(../img/create_button.png) left center no-repeat;
    overflow: hidden;
    background-size: 30px;
    font-size: 20px;
    padding-left: 30px;
}

.cud_btn_update > a > input{
    background: url(../img/shield.png) left center no-repeat;
    overflow: hidden;
    background-size: 30px;
    font-size: 20px;
    padding-left: 30px;
}

.cud_btn_delete > a > input{
    background: url(../img/shield.png) left center no-repeat;
    overflow: hidden;
    background-size: 30px;
    font-size: 20px;
    padding-left: 30px; 
}

.books_list{
    margin-top: 6px;
    padding-top: 80px;
    padding-left: 40px;
    border-bottom: 1px solid #eee;
}

.books_list > ol > li > a{
    font-weight: bold;
    border: 2px solid #eee;
}

.books_list > ol > li{
    margin-bottom: 10px;
}

.books_list > ol{
    position: absolute;
    float: left;
    z-index: 2;
}

.body_section{
    width: 100%;
    margin-top: 0px;
    padding-top: 100px;
    padding-bottom: 10%;
    padding-left: 20px;
    border-bottom: 1px solid #eee;
    background-image: url(../img/Book_script.jpg);
    background-repeat: no-repeat;
    background-position: left 38%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 50%;
    position:relative;
    height:auto;
}

.body_section > h2{
    margin-top: 1%;
    font-size: 30px;
    font-weight: bold;
}

.body_section > h5{
    margin-top: 1%;
    font-size: 20px;
    color: gray;
    padding-bottom: 3px;
}

.body_section_btn{
    text-align: center;
    width: auto;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    border: 1px solid skyblue;
    background-color: rgba(0,0,0,0);
    padding: 5px;
    border-radius: 5px;
    background-color: skyblue;
}

.body_section > form > button:hover{
    color: white;
}

/* 여기서 부터 create.html */

.create_books_content{
    padding-top: 85px;
    height: 100%;
}

.main_word{
    font-weight: bold;
    font-size: 40px;
}

.create_books_content{
    text-align: center;
    height: 100vh;
    width: 100vw;
    padding-top: 10%;   
    background: url(../img/Book_script2.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create_books_content_title{
    display: inline-block;
}

.create_books_content_author{
    display: inline-block;
}

.create_books_content_title > input{
    width: auto;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 20px ;
}

.create_books_content_author > input{
    width: auto;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 20px ;
}

.create_books_content_body > textarea{
    width: 700px;
    height: 300px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: left;
    border-radius: 5px ;
}

.create_books_content_submit > input{
    width: 100px;
    height: 50px;
    font-size: 17px;
}

/* 여기서부터는 update.html */
.update_books_content{
    text-align: center;
    height: 100vh;
    width: 100vw;
    padding-top: 10%;   
    background: url(../img/Book_script3.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.update_books_content_title{
    display: inline-block;
}

.update_books_content_author{
    display: inline-block;
}

.update_books_content_title > input{
    width: auto;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 20px ;
}

.update_books_content_author > input{
    width: auto;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 20px ;
}

.update_books_content_body > textarea{
    width: 700px;
    height: 300px;
    margin-bottom: 20px;
    font-size: 18px;
    text-align: left;
    border-radius: 5px ;
}

.update_books_content_submit > input{
    width: 100px;
    height: 50px;
    font-size: 17px;
}
/* 여기서부터는 index.html */

.index_cud_btn_delete > form > input{
    background: url(../img/delete_button.png) left center no-repeat;
    overflow: hidden;
    background-size: 30px;
    font-size: 20px;
    padding-left: 30px; 
    height: 60px;
    cursor: pointer;
}

.index_cud_btn_update > a > input{
    background: url(../img/update_button.png) left center no-repeat;
    overflow: hidden;
    background-size: 30px;
    font-size: 20px;
    padding-left: 30px; 
    height: 60px;
    cursor: pointer;
}

.index_books_list{
    margin-top: 6px;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 1%;
}

.index_books_list > ol > li > a{
    font-weight: bold;
    border: 2px solid #eee;
}

.index_books_list > ol > li{
    margin-bottom: 10px;
}

.index_books_list > ol{
    position: absolute;
    float: left;
    z-index: 2;
}

.title_author{
    width: 100%;
    float: left;
    margin: 0 43%;
    flex-direction: column;
}

.title_author > h2{
    font-weight: bold;
}

.index_body_content{
    width: 70%;
    margin: 0 auto;
    height: 100%;
    
    padding-top: 50px;
    padding-left: 20%;
    flex-direction: column;
}

.index_body_content > p{
    width: 80%;
    height: 300px;
    text-align: left;
}

.index_body_bottom{
    background: url(../img/marshmallow-2572978_1280.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0px;
    z-index: 1;
}

.footer_information > ul{
    float: right;
    list-style: none;
}