<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><a href="/">Back to Home</a></h1>

    <h2>Create Book</h2>

    <form action="/create/" method="POST">
        <p><input type="text" name="title" placeholder="title"></p>
        <p><textarea name="author" placeholder="author"></textarea></p>
        <p><textarea name="body" placeholder="body"></textarea></p>
        <p><input type="submit" value ="create"></p>
    </form> 
</body>
</html>