<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="wrap">
        <header class="header">
            <div class="header_inner">

                <div class="main_logo">
                    <h1>
                        <a href="/"><img src="{{url_for('static', filename='../static/img/BoOK_Logo.jpg')}}" width="200" height="80" alt="메인로고"></a>
                    </h1>
                </div>

                <div class="cud_btn">
                    <ul>
                        <li class="cud_btn_create"><a href="/create/"><input type="submit" value="Create"></a></li>
                        <li class="cud_btn_update"><a href="#none"><input type="submit" value="Update"></a></li>
                        <li class="cud_btn_delete"><a href="#none"><input type="submit" value="Delete"></a></li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="books_list">
            <ol>
                {% for topic in contents %}
                <li>
                    <a href="/read/{{ topic['id'] }}/">{{ topic['title'] }}</a>
                </li>
                {% endfor %}
            </ol>
        </div>

        <section class="body_section">
            <h2>{{body}}</h2>
            <h5>{{body2}}</h5>
            <button class="body_section_btn"><a href="/read/1">처음 글 읽어보기</a></button>
        </section>

        <footer class="footer">
            <div class="footer_information">
                <ul>
                    <li>제작자 이름 : 권종구, 박정연</li>
                    <li>제작자 E-mail : kjk050512@naver.com</li>
                    <li>이미지 출처 : pixabay</li>
                </ul>
            </div>
        </footer>
    </div>
</body>

</html>