<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="wrap">
        <header class="header">
            <div class="header_inner">

                <div class="main_logo">
                    <h1>
                        <a href="/"><img src="{{url_for('static', filename='../static/img/BoOK_Logo.jpg')}}" width="200" height="80" alt="메인로고"></a>
                    </h1>
                </div>

                <div class="cud_btn">
                    <ul>
                        <li class="cud_btn_create"><a href="/create/"><input type="submit" value="Create"></a></li>
                        <li class="index_cud_btn_update"><a href="/update/{{id}}/"><input type="submit"
                                    value="Update"></a></li>
                        <li class="index_cud_btn_delete">
                            <form action="/delete/{{ id }}/" method="POST"><input type="submit" value="delete"></form>
                        </li>
                    </ul>
                </div>
                
                <div class="search">
                    <form action="https://www.yes24.com/product/search" target="_blank">
                        <div>
                            <input type="text" name="query" value="" placeholder="to search">
                            <button type="submit">검색</button>
                        </div>
                    </form>
                </div>
            </div>
        </header>

        <div class="index_body_section">
            <div class="index_books_list">
                <ol>
                    {% for topic in contents %}
                    <li>
                        <a href="/read/{{ topic['id'] }}/">{{ topic['title'] }}</a>
                    </li>
                    {% endfor %}
                </ol>
            </div>

            <div class="title_author">
                <h2 style="display: inline;">{{title}} </h2>
                <h6 style="display: inline;">(저자: {{author}})</h6>
                <p style="display: inline;">가격 : {{sale}}</p>
            </div>

            <div class="index_body_content">
                <p>{{body}}</p>
            </div>

            <div class="index_body_bottom">
            </div>
        </div>
    </div>
</body>

</html>