<!doctype html>
<html lang="ko"">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the books i read</title>
</head>
<body>
    <h1><a href="/"><img src="{{url_for('static', filename='../static/img/BoOK_Logo.jpg')}}" width="200"></a></h1>

    <h2>Update Book</h2>
    
    <form action="/update/{{id}}/" method="POST">
        <p>Title: <input type="text" name="title" value="{{ title }}"></p>
        <p>Author: <input type="text" name="author" value="{{ author }}"></p>
        <p>Body: <textarea name="body">{{ body }}</textarea></p>
        <p><input type="submit" value="Update"></p>
    </form>
    <form action="/{search_name}">
        
    </form>
</body>